.reviews{
    background-color: rgb(215, 218, 227);
    h1{
        margin: 0;
        padding-top: 50px;
    }
    .review-1{
        outline: transparent;
        height: 300px;
    }
    .review-2{
        outline: transparent;
        height: 300px;
    }
    .review-3{
        outline: transparent;
        height: 300px;
    } 
    .review-4{
        outline: transparent;
        height: 300px;
    }            
}