.reviews{
    background-color: rgb(215, 218, 227);
    padding: 0 5px;
    .review-title{
        margin: 0;
        padding: 30px 0 5px 0;
        font-family: $fontNoto;
        font-size: 24px;
        font-weight: 400;
        color: rgb(42,42,42);
        border-bottom: 1px solid rgba(128, 128, 128, 0.3);
        display: inline-block;
    }
    p{
        margin: 30px auto 20px auto;
        max-width: 600px;
        font-style: italic;
        color: rgba(42, 42, 42, 0.7); 
        font-family: $fontRoboto;
    }
    .fas{
        color: rgba(255, 221, 0, 0.75);
        font-size: 22px;
        margin: 0 2px 0 2px;
    }
    h2{
        font-family: $fontNoto;
        font-size: 18px;
        font-weight: 400;
        margin: 20px 0 0 0;
        color: rgba(42, 42, 42, 0.7);  
        font-style: italic;
        a{
            text-decoration: none;
            color: rgb(24,58,145);
        }
    }
    
    .review{
        outline: transparent;
        height: 250px;
    }
    
    .slick-dots{
        bottom: 30px;
        .slick-active{
            button:before{
                color: rgb(24,58,145);
            }
        }
        button:before{
            font-size: 14px;
            color: rgb(24,58,145);
        }
    }
}