.slidesSmall{
    width: 400px;
    height: 300px;
    margin: 0 auto;

    .slide_1{
        
        outline: transparent;
        img{
            width: 400px;
            height: 300px;
        }
    }
    
    .slick-dots{
        bottom: 15px;
        li button:before{
            font-size: 16px;
            color: black;
        }
        .slick-active button:before{
            color: black;
            opacity: 1;
        }
    }
            
}