.Header{
    width: 100%;
    // position: fixed;
    z-index: 1;
    
    .Navbar_Desktop{
        max-width: 1400px;
        margin: 0 auto;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .Navbar_Logo{
            margin: 15px 0 10px 70px;
            img{
                height: 90px;
                width: 180px;
            }
        }

        .Navbar_Content{
          
            .contacto{
                margin-right: 100px;
                display: flex;
                justify-content: flex-end;
                
                a{
                    color: rgba(42, 42, 42, 0.7);

                    // color: rgb(143, 143, 141);
                    text-decoration: none;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 25pt;
                    margin: 15px 20px 0 0;
                    border-bottom: 1px solid rgba(42, 42, 42, 0.3);
                    transition: border-bottom 0.8s;

                    &:hover{
                        border-bottom: 1px solid #183a91;
                    }
                    span{
                        font-weight: 500;
                        color: #2a2a2a;
                    }
                }
                .redes{
                    border-bottom: 1px solid rgba(42, 42, 42, 0.3);
                    &:hover{
                        border-bottom: 1px solid #183a91;
                    }
                    a{
                        border-bottom: none;
                        margin-right: 0;
                        padding-bottom: 5px;
                        &:hover{
                            color: #183a91;
                            background-color: transparent;
                        }
                    }
                    .fab{
                        margin: 18px 0 0 0;
                        font-size: 18px;
                    }
                    .fa-facebook-f{
                        margin-right: 15px;
                    }
                }
            }

            .links{                
                ul{
                    display: flex;
                    justify-content: space-between;
                    list-style-type: none;
                    margin: 20px 100px 10px 0;
                    padding: 0;
                    width: 500px;
                    li{
                        border-bottom: 2px solid transparent;
                        transition: border-color 0.6s;
                        &:hover{
                            border-bottom: 2px solid rgb(42, 42, 42);
                        }
                        .active{
                            border-bottom: 2px solid rgb(42, 42, 42);
                        }
                        a{
                            text-decoration: none;
                            text-transform: uppercase;
                            line-height: 20pt;
                            font-weight: 700;
                            color: rgb(42, 42, 42);
                            font-size: 12px;       
                        }
                    }
                    .active{
                        border-bottom: 2px solid #183a91;
                        a{color: #183a91;}
                    }
                }
            }
        }
    }
}