.Mark{
    border: 1px solid red;
    width: 100px;
    
    .fas{
        font-size: 24px;
        color: #183a91;
        cursor: pointer;
        position: relative;
        z-index: 1;

        .info{
            width: 0;
            height: 0;
            overflow: hidden;

        }
    }
}