.Footer{
    max-width: 1400px;
    margin: 0 auto;
    background-color: #edf1f4;
    .Footer-1{
        display: flex;
        justify-content: space-between;
        text-align: left;
        font-family: $fontRobotoCondensed;
        font-size: 16px;

        .info{
            display: flex;
            flex-direction: column;
            margin: 50px 0 80px 70px;
            
            img{
                width: 180px;
                height: 90px;
                margin-bottom: 20px;
            }
            a{
                color: rgba(42, 42, 42, 0.7);
                text-decoration: none;
                margin: 0 0 10px 5px;
                span{
                    color: rgb(42,42,42);
                }
                &:hover{
                    color: rgba(24,58,145,0.7);
                    span{color: rgb(24,58,145);}
                }
            }
            p{
                color: rgba(42,42,42, 0.7);
                margin: 15px 0 10px 5px;
            }
        }

        .menu{
            display: flex;
            flex-direction: column;
            margin: 60px 100px 0 0;

            h1{
                text-align: left;
                font-size: 28px;

                font-family: $fontNoto;
                color: rgb(24,58,145);
            }
            a{
                text-decoration: none;
                text-transform: unset;
                margin-right: 30px;
                color: rgb(42,42,42);
                &:hover{
                    color: rgb(24,58,145);
                }
            }
            .last{
                margin-right: 0px;
            }
            .active{
                color: rgb(24,58,145);
            }
        }

        .redes{
            margin: 60px 0 0 0;
            font-family: $fontNoto;
            color: rgb(24,58,145);
            
            h1{
                font-size: 28px;
            }

            p{
                display: flex;
                align-items: center;
               

                &:hover{
                    a{
                        color: rgb(24,58,145);
                    }
                    .fa-facebook-f{
                        color: rgb(24,58,145);
                    }
                    .fa-instagram{
                        color: rgb(24,58,145);
                    }
                }
                
                a{
                    
                    text-align: right;
                    text-decoration: none;
                    font-size: 16px;
                    color: rgb(42,42,42);
                }
                .fa-facebook-f{
                    font-size: 22px;
                    margin: 0 15px 0 5px; 
                    color: rgb(42,42,42);   
                }
                .fa-instagram{
                    font-size: 22px;
                    margin: 0 10px 0 0;
                    color: rgb(42,42,42);
                }
            }
            
        }
    }

    .Footer-2{
        border-top: 1px solid rgba(128, 128, 128, 0.18);
        text-align: center;
        margin: 0 50px;
        p{
            padding: 30px 0;
            margin: 0;
            font-family: $fontRobotoCondensed;
            font-weight: 400;
            font-size: 14px;
            color: rgb(143, 143, 141);
            i{
                font-size: 12px;
            }

        }
    }
}

@media (max-width: 800px){
    .Footer{
        .Footer-1{
            .menu{
                display: none;
            }
            .redes{
                margin: 60px 70px 0 0;
            }
        }
    }
}

@media (max-width: 550px){
    .Footer{
        .Footer-1{
            flex-direction: column;
            align-items: center;

            .info{
                margin: 50px 0 20px 0;
                text-align: center;
                a{
                    margin: 0 0 5px 0;
                }
            }
            .redes{
                margin: 0 0 20px 0;
                text-align: center;
            }
        }
    }
}