@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

$fontRoboto         : 'Roboto', sans-serif;
$fontRobotoCondensed: 'Roboto Condensed', sans-serif;
$fontNoto           : 'Noto Serif', serif;

@import './components/App/_App.scss';
@import './components/Header/_Header.scss';
@import './components/Footer/_Footer.scss';
@import './components/Home/_Home.scss';
@import './components/Prices/_Prices.scss';
@import './components/Itinerary/_Itinerary.scss';
@import './components/Equipment/_Equipment.scss';
@import './components/Slider/_Slider.scss';
@import './components/SliderSmall/_SliderSmall.scss';
@import './components/SliderSmallVer/_SliderSmallVer.scss';
@import './components/Reviews/_Reviews.scss';
@import './components/Options/_Options.scss';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~react-image-gallery/styles/css/image-gallery.css";
@import '~aos/dist/aos.css';

body {
  margin: 0;
  padding: 0;
  font-family: $fontRoboto;
  font-size: 18px;
  color: black;
}