@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,700i");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");
@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
@import url(~react-image-gallery/styles/css/image-gallery.css);
@import url(~aos/dist/aos.css);
.App {
  text-align: center; }

.Header {
  width: 100%; }
  .Header .Navbar_Mobile {
    display: none; }
  .Header .Navbar_Desktop {
    max-width: 1400px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .Header .Navbar_Desktop .Navbar_Logo {
      margin: 15px 0 10px 70px; }
      .Header .Navbar_Desktop .Navbar_Logo img {
        height: 90px;
        width: 180px; }
    .Header .Navbar_Desktop .Navbar_Content .contacto {
      margin-right: 100px;
      display: flex;
      justify-content: flex-end; }
      .Header .Navbar_Desktop .Navbar_Content .contacto a {
        color: rgba(42, 42, 42, 0.7);
        text-decoration: none;
        font-size: 12px;
        font-weight: 400;
        line-height: 25pt;
        margin: 15px 20px 0 0;
        border-bottom: 1px solid rgba(42, 42, 42, 0.3);
        transition: border-bottom 0.8s; }
        .Header .Navbar_Desktop .Navbar_Content .contacto a:hover {
          border-bottom: 1px solid #183a91;
          color: #183a91; }
          .Header .Navbar_Desktop .Navbar_Content .contacto a:hover span {
            color: #183a91; }
        .Header .Navbar_Desktop .Navbar_Content .contacto a span {
          font-weight: 500;
          color: #2a2a2a; }
      .Header .Navbar_Desktop .Navbar_Content .contacto .redes {
        border-bottom: 1px solid rgba(42, 42, 42, 0.3); }
        .Header .Navbar_Desktop .Navbar_Content .contacto .redes:hover {
          border-bottom: 1px solid #183a91; }
        .Header .Navbar_Desktop .Navbar_Content .contacto .redes a {
          border-bottom: none;
          margin-right: 0;
          padding-bottom: 5px; }
          .Header .Navbar_Desktop .Navbar_Content .contacto .redes a:hover {
            color: #183a91;
            background-color: transparent; }
        .Header .Navbar_Desktop .Navbar_Content .contacto .redes .fab {
          margin: 18px 0 0 0;
          font-size: 18px; }
        .Header .Navbar_Desktop .Navbar_Content .contacto .redes .fa-facebook-f {
          margin-right: 15px; }
    .Header .Navbar_Desktop .Navbar_Content .links ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      margin: 20px 100px 10px 0;
      padding: 0;
      width: 500px; }
      .Header .Navbar_Desktop .Navbar_Content .links ul li {
        border-bottom: 2px solid transparent;
        transition: border-color 0.6s; }
        .Header .Navbar_Desktop .Navbar_Content .links ul li:hover {
          border-bottom: 2px solid #183a91; }
          .Header .Navbar_Desktop .Navbar_Content .links ul li:hover a {
            color: #183a91; }
        .Header .Navbar_Desktop .Navbar_Content .links ul li .active {
          border-bottom: 2px solid #183a91; }
        .Header .Navbar_Desktop .Navbar_Content .links ul li a {
          text-decoration: none;
          text-transform: uppercase;
          line-height: 20pt;
          font-weight: 700;
          color: #2a2a2a;
          font-size: 12px; }
      .Header .Navbar_Desktop .Navbar_Content .links ul .active {
        border-bottom: 2px solid #183a91; }
        .Header .Navbar_Desktop .Navbar_Content .links ul .active a {
          color: #183a91; }

@media (max-width: 960px) {
  .Header .Navbar_Desktop .Navbar_Logo {
    margin: 15px 0 10px 30px; }
  .Header .Navbar_Desktop .Navbar_Content .contacto {
    margin-right: 40px; }
  .Header .Navbar_Desktop .Navbar_Content .links ul {
    margin: 20px 40px 10px 0; } }

@media (max-width: 760px) {
  .Header {
    width: 100%;
    z-index: 1;
    position: relative; }
    .Header .Navbar_Desktop {
      display: none; }
    .Header .Navbar_Mobile {
      display: block; }
      .Header .Navbar_Mobile .hide {
        display: none; }
      .Header .Navbar_Mobile .fas {
        position: fixed;
        right: 30px;
        top: 25px;
        font-size: 30px;
        color: white;
        text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 3px #000;
        z-index: 1; }
      .Header .Navbar_Mobile .wrapper {
        position: fixed;
        right: 0;
        top: 0;
        width: 0;
        height: 110vh;
        background-color: #222;
        transition: width 0.6s ease-in-out;
        overflow: hidden;
        overflow-y: scroll; }
        .Header .Navbar_Mobile .wrapper .content {
          padding: 60px 0 50px 0;
          text-align: left;
          width: 225px; }
          .Header .Navbar_Mobile .wrapper .content a {
            padding: 10px 0 10px 20px;
            display: block;
            font-size: 12px;
            font-weight: 400;
            text-decoration: none;
            color: white; }
            .Header .Navbar_Mobile .wrapper .content a span {
              font-weight: 500; }
          .Header .Navbar_Mobile .wrapper .content .redes {
            display: flex;
            margin-bottom: 10px; }
            .Header .Navbar_Mobile .wrapper .content .redes a {
              font-size: 20px; }
          .Header .Navbar_Mobile .wrapper .content .link {
            text-transform: uppercase;
            font-size: 16px; }
          .Header .Navbar_Mobile .wrapper .content .active {
            background-color: rgba(255, 255, 255, 0.1); }
          .Header .Navbar_Mobile .wrapper .content .logo {
            text-align: center;
            margin-top: 10px; }
            .Header .Navbar_Mobile .wrapper .content .logo a {
              padding: 0; }
            .Header .Navbar_Mobile .wrapper .content .logo img {
              height: 90px;
              width: 180px; }
      .Header .Navbar_Mobile .abierto {
        width: 225px; } }

.Footer {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #edf1f4; }
  .Footer .Footer-1 {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px; }
    .Footer .Footer-1 .info {
      display: flex;
      flex-direction: column;
      margin: 50px 0 80px 70px; }
      .Footer .Footer-1 .info img {
        width: 180px;
        height: 90px;
        margin-bottom: 20px; }
      .Footer .Footer-1 .info a {
        color: rgba(42, 42, 42, 0.7);
        text-decoration: none;
        margin: 0 0 10px 5px; }
        .Footer .Footer-1 .info a span {
          color: #2a2a2a; }
        .Footer .Footer-1 .info a:hover {
          color: rgba(24, 58, 145, 0.7); }
          .Footer .Footer-1 .info a:hover span {
            color: #183a91; }
      .Footer .Footer-1 .info p {
        color: rgba(42, 42, 42, 0.7);
        margin: 15px 0 10px 5px; }
    .Footer .Footer-1 .menu {
      display: flex;
      flex-direction: column;
      margin: 60px 100px 0 0; }
      .Footer .Footer-1 .menu h1 {
        text-align: left;
        font-size: 28px;
        font-family: "Noto Serif", serif;
        color: #183a91; }
      .Footer .Footer-1 .menu a {
        text-decoration: none;
        text-transform: unset;
        margin-right: 30px;
        color: #2a2a2a; }
        .Footer .Footer-1 .menu a:hover {
          color: #183a91; }
      .Footer .Footer-1 .menu .last {
        margin-right: 0px; }
      .Footer .Footer-1 .menu .active {
        color: #183a91; }
    .Footer .Footer-1 .redes {
      margin: 60px 0 0 0;
      font-family: "Noto Serif", serif;
      color: #183a91; }
      .Footer .Footer-1 .redes h1 {
        font-size: 28px; }
      .Footer .Footer-1 .redes p {
        display: flex;
        align-items: center; }
        .Footer .Footer-1 .redes p:hover a {
          color: #183a91; }
        .Footer .Footer-1 .redes p:hover .fa-facebook-f {
          color: #183a91; }
        .Footer .Footer-1 .redes p:hover .fa-instagram {
          color: #183a91; }
        .Footer .Footer-1 .redes p a {
          text-align: right;
          text-decoration: none;
          font-size: 16px;
          color: #2a2a2a; }
        .Footer .Footer-1 .redes p .fa-facebook-f {
          font-size: 22px;
          margin: 0 15px 0 5px;
          color: #2a2a2a; }
        .Footer .Footer-1 .redes p .fa-instagram {
          font-size: 22px;
          margin: 0 10px 0 0;
          color: #2a2a2a; }
  .Footer .Footer-2 {
    border-top: 1px solid rgba(128, 128, 128, 0.18);
    text-align: center;
    margin: 0 50px; }
    .Footer .Footer-2 p {
      padding: 30px 0;
      margin: 0;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #8f8f8d; }
      .Footer .Footer-2 p i {
        font-size: 12px; }

@media (max-width: 800px) {
  .Footer .Footer-1 .menu {
    display: none; }
  .Footer .Footer-1 .redes {
    margin: 60px 70px 0 0; } }

@media (max-width: 550px) {
  .Footer .Footer-1 {
    flex-direction: column;
    align-items: center; }
    .Footer .Footer-1 .info {
      margin: 50px 0 20px 0;
      text-align: center; }
      .Footer .Footer-1 .info a {
        margin: 0 0 5px 0; }
    .Footer .Footer-1 .redes {
      margin: 0 0 20px 0;
      text-align: center; } }

.Home {
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden; }
  .Home .title {
    font-family: "Noto Serif", serif;
    font-size: 28px;
    font-weight: 400;
    color: #2a2a2a;
    margin: 50px 0 25px 0;
    padding: 0 0 5px 0;
    display: inline-block;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    text-transform: uppercase; }
  .Home .description {
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin: 0 50px 50px 50px;
    color: rgba(42, 42, 42, 0.8);
    font-size: 18px; }
    .Home .description a {
      text-decoration: none;
      font-style: italic;
      color: #183a91;
      font-family: "Noto Serif", serif; }

.Hide {
  width: 0;
  height: 0;
  overflow: hidden; }

@media (max-width: 760px) {
  .Home .title {
    font-size: 24px; }
  .Home .description {
    margin: 0 20px 20px 20px;
    font-size: 16px; } }

.Prices {
  margin: 0 auto;
  max-width: 1400px;
  text-align: left; }
  .Prices .title {
    min-height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/images/prices.jpg") no-repeat center center;
    background-size: cover; }
    .Prices .title h1 {
      font-size: 44px;
      font-family: "Noto Serif", serif;
      color: white;
      font-style: italic;
      text-shadow: black 3px 3px 3px; }
  .Prices .subTitle {
    font-family: "Noto Serif", serif;
    font-size: 18px;
    font-weight: 400;
    color: #2a2a2a;
    margin: 50px 0 0 70px;
    padding: 0 0 5px 0;
    display: inline-block;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    text-transform: uppercase; }
  .Prices .base {
    margin: 0 100px 0 70px; }
    .Prices .base h2 {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 700;
      color: rgba(42, 42, 42, 0.85);
      font-size: 18px;
      margin: 20px 0 0 20px; }
    .Prices .base a {
      display: block;
      text-decoration: none;
      font-size: 16px;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 400;
      color: rgba(42, 42, 42, 0.7);
      margin: 0px 0 0 30px; }
      .Prices .base a:hover {
        color: #183a91;
        text-decoration: underline; }
  .Prices .seasons {
    margin: 0 100px 20px 70px;
    display: flex;
    justify-content: space-between; }
    .Prices .seasons h1 {
      margin: 20px 0 0 0;
      font-family: "Noto Serif", serif;
      font-size: 18px;
      font-weight: 400;
      color: #2a2a2a; }
    .Prices .seasons .cont {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(100%/3);
      text-align: center;
      padding: 0 30px; }
      .Prices .seasons .cont p {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 14px;
        color: rgba(42, 42, 42, 0.7);
        margin: 0; }
      .Prices .seasons .cont .subcont {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        background-color: #edf1f4;
        padding: 0 10px;
        margin: 5px 50px;
        font-style: italic; }
  .Prices .conditions {
    margin: 0 100px 0 70px; }
    .Prices .conditions h2 {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 700;
      color: rgba(42, 42, 42, 0.85);
      font-size: 18px;
      margin: 20px 0 0 20px; }
    .Prices .conditions p {
      font-size: 16px;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 400;
      color: rgba(42, 42, 42, 0.7);
      margin: 0px 0 0 30px; }
  .Prices .last {
    margin-bottom: 100px; }

.Hide {
  width: 0;
  height: 0;
  overflow: hidden; }

@media (max-width: 920px) {
  .Prices .title {
    min-height: 200px; }
    .Prices .title h1 {
      font-size: 34px; }
  .Prices .subTitle {
    font-size: 18px;
    margin: 50px 0 0 50px;
    padding: 0 0 5px 0; }
  .Prices .base {
    margin: 0 100px 0 50px; }
    .Prices .base h2 {
      font-size: 18px;
      margin: 20px 0 0 10px; }
    .Prices .base a {
      font-size: 16px;
      margin: 0px 0 0 20px; }
  .Prices .seasons {
    margin: 0 50px 0px 50px;
    display: flex;
    justify-content: space-between; }
    .Prices .seasons h1 {
      margin: 20px 0 0 0;
      font-size: 18px; }
    .Prices .seasons .cont {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: calc(100%/3);
      text-align: center;
      padding: 0 30px; }
      .Prices .seasons .cont p {
        font-size: 14px;
        margin: 0; }
      .Prices .seasons .cont .subcont {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        padding: 0 10px;
        margin: 5px 50px; }
  .Prices .conditions {
    margin: 0 0px 0 50px; }
    .Prices .conditions h2 {
      font-size: 18px;
      margin: 20px 0 0 10px; }
    .Prices .conditions p {
      font-size: 16px;
      margin: 0px 0 0 20px; }
  .Prices .last {
    margin-bottom: 100px; } }

@media (max-width: 780px) {
  .Prices .title {
    min-height: 200px; }
    .Prices .title h1 {
      font-size: 34px; }
  .Prices .subTitle {
    font-size: 16px;
    margin: 50px 20px 0 20px;
    padding: 0 0 5px 0; }
  .Prices .base {
    margin: 0 20px 0 20px; }
    .Prices .base h2 {
      font-size: 16px;
      margin: 20px 0 0 10px; }
    .Prices .base a {
      font-size: 14px;
      margin: 0px 0 0 20px; }
  .Prices .seasons {
    margin: 0 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }
    .Prices .seasons h1 {
      margin: 20px 0 0 0;
      font-size: 16px; }
    .Prices .seasons .cont {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
      text-align: center;
      padding: 0; }
      .Prices .seasons .cont p {
        font-size: 14px;
        margin: 0; }
      .Prices .seasons .cont .subcont {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        padding: 0 10px;
        margin: 5px 0px; }
  .Prices .conditions {
    margin: 0 20px 0 20px; }
    .Prices .conditions h2 {
      font-size: 16px;
      margin: 20px 0 0 10px; }
    .Prices .conditions p {
      font-size: 14px;
      margin: 0px 0 0 20px; }
  .Prices .last {
    margin-bottom: 80px; } }

.Itinerary {
  margin: 0 auto;
  max-width: 1400px;
  text-align: left; }
  .Itinerary #map {
    width: 100%;
    height: 450px; }
  .Itinerary .subTitle {
    font-family: "Noto Serif", serif;
    font-size: 18px;
    font-weight: 400;
    color: #2a2a2a;
    margin: 50px 0 0 70px;
    padding: 0 0 5px 0;
    display: inline-block;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    text-transform: uppercase; }
  .Itinerary .conditions {
    display: flex;
    margin: 0 60px 0 70px; }
    .Itinerary .conditions div {
      margin-left: 50px; }
    .Itinerary .conditions h2 {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 700;
      color: rgba(42, 42, 42, 0.85);
      font-size: 18px;
      margin: 20px 0 0 0px; }
    .Itinerary .conditions p {
      font-size: 16px;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 400;
      color: rgba(42, 42, 42, 0.7);
      margin: 0px 0 0 10px; }
      .Itinerary .conditions p:hover {
        color: #183a91;
        text-decoration: underline;
        cursor: pointer; }
      .Itinerary .conditions p span {
        font-size: 12px; }
      .Itinerary .conditions p a {
        text-decoration: none;
        color: #183a91;
        font-size: 12px; }
  .Itinerary .gallery {
    margin: 50px 140px 100px 140px;
    display: flex;
    justify-content: center; }

.Hide {
  width: 0;
  height: 0;
  overflow: hidden; }

@media (max-width: 920px) {
  .Itinerary #map {
    width: 100%;
    height: 400px; }
  .Itinerary .subTitle {
    font-size: 18px;
    margin: 50px 0 0 50px;
    padding: 0 0 5px 0;
    display: inline-block; }
  .Itinerary .conditions {
    display: flex;
    margin: 0 50px 0 50px; }
    .Itinerary .conditions div {
      margin-left: 30px; }
    .Itinerary .conditions h2 {
      font-size: 18px;
      margin: 20px 0 0 0px; }
    .Itinerary .conditions p {
      font-size: 16px;
      margin: 0px 0 0 10px; }
      .Itinerary .conditions p span {
        font-size: 12px; }
      .Itinerary .conditions p a {
        font-size: 12px; }
  .Itinerary .gallery {
    margin: 50px 70px 100px 70px; } }

@media (max-width: 720px) {
  .Itinerary #map {
    width: 100%;
    height: 400px; }
  .Itinerary .subTitle {
    font-size: 16px;
    margin: 50px 0 0 20px;
    padding: 0 0 5px 0;
    display: inline-block; }
  .Itinerary .conditions {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 20px; }
    .Itinerary .conditions div {
      margin-left: 10px; }
    .Itinerary .conditions h2 {
      font-size: 16px;
      margin: 20px 0 0 0px; }
    .Itinerary .conditions p {
      font-size: 14px;
      margin: 0px 0 0 10px; }
      .Itinerary .conditions p span {
        font-size: 12px; }
      .Itinerary .conditions p a {
        font-size: 12px; }
  .Itinerary .gallery {
    margin: 30px 20px 100px 20px; } }

.Equipment {
  margin: 0 auto;
  max-width: 1400px;
  text-align: left; }
  .Equipment .title {
    min-height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/images/equipment.jpg") no-repeat center center;
    background-size: cover; }
    .Equipment .title h1 {
      font-size: 44px;
      font-family: "Noto Serif", serif;
      color: white;
      font-style: italic;
      text-shadow: black 3px 3px 3px; }
  .Equipment .subTitle {
    font-family: "Noto Serif", serif;
    font-size: 18px;
    font-weight: 400;
    color: #2a2a2a;
    margin: 50px 0 0 70px;
    padding: 0 0 5px 0;
    display: inline-block;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    text-transform: uppercase; }
  .Equipment .item {
    margin: 40px 70px 50px 70px;
    display: flex;
    justify-content: center; }
    .Equipment .item .fotosH {
      width: 400px;
      height: 300px; }
    .Equipment .item .fotosV {
      width: 400px;
      height: 400px; }
    .Equipment .item .info {
      width: 50%;
      min-height: 300px;
      padding-top: 20px;
      margin-right: 20px; }
      .Equipment .item .info h2 {
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 700;
        color: rgba(42, 42, 42, 0.85);
        font-size: 18px;
        margin: 0 0 0 20px; }
      .Equipment .item .info p {
        font-size: 16px;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 400;
        line-height: 16pt;
        color: rgba(42, 42, 42, 0.7);
        margin: 5px 0 0 30px; }
  .Equipment .conditions {
    margin: 0 100px 0 70px; }
    .Equipment .conditions h2 {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 700;
      color: rgba(42, 42, 42, 0.85);
      font-size: 18px;
      margin: 20px 0 0 20px; }
    .Equipment .conditions p {
      font-size: 16px;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 400;
      color: rgba(42, 42, 42, 0.7);
      margin: 0px 0 0 30px; }
    .Equipment .conditions .first {
      margin-top: 20px; }
  .Equipment .last {
    margin-bottom: 100px; }

.Hide {
  width: 0;
  height: 0;
  overflow: hidden; }

@media (max-width: 920px) {
  .Equipment .title {
    min-height: 200px; }
    .Equipment .title h1 {
      font-size: 34px; }
  .Equipment .subTitle {
    font-size: 18px;
    margin: 50px 0 0 50px;
    padding: 0 0 5px 0; }
  .Equipment .item {
    margin: 20px 50px 80px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    .Equipment .item .fotosH {
      width: 400px;
      height: 300px;
      margin-left: 20px; }
    .Equipment .item .fotosV {
      width: 400px;
      height: 400px;
      margin-left: 20px; }
    .Equipment .item .info {
      order: -1;
      width: 100%;
      min-height: 100px;
      padding-top: 0px;
      margin-bottom: 20px; }
      .Equipment .item .info h2 {
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 700;
        color: rgba(42, 42, 42, 0.85);
        font-size: 18px;
        margin: 0 0 0 20px; }
      .Equipment .item .info p {
        font-size: 16px;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 400;
        line-height: 16pt;
        color: rgba(42, 42, 42, 0.7);
        margin: 5px 0 0 30px; }
  .Equipment .lastItem {
    margin-bottom: 0; }
  .Equipment .conditions {
    margin: 0 100px 0 70px; }
    .Equipment .conditions h2 {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 700;
      color: rgba(42, 42, 42, 0.85);
      font-size: 18px;
      margin: 20px 0 0 20px; }
    .Equipment .conditions p {
      font-size: 16px;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 400;
      color: rgba(42, 42, 42, 0.7);
      margin: 0px 0 0 30px; }
    .Equipment .conditions .first {
      margin-top: 20px; }
  .Equipment .last {
    margin-bottom: 100px; } }

@media (max-width: 720px) {
  .Equipment .title {
    min-height: 200px; }
    .Equipment .title h1 {
      font-size: 34px; }
  .Equipment .subTitle {
    font-size: 16px;
    margin: 50px 0 0 20px;
    padding: 0 0 5px 0; }
  .Equipment .item {
    margin: 20px 0px 80px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .Equipment .item .fotosH {
      width: 300px;
      height: 200px;
      margin-left: 0px; }
    .Equipment .item .fotosV {
      width: 300px;
      height: 300px;
      margin-left: 0px; }
    .Equipment .item .info {
      order: -1;
      width: auto;
      min-height: 10px;
      padding-top: 0px;
      margin: 0 20px 5px 10px; }
      .Equipment .item .info h2 {
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 700;
        color: rgba(42, 42, 42, 0.85);
        font-size: 16px;
        margin: 0 0 0 10px; }
      .Equipment .item .info p {
        font-size: 14px;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 400;
        line-height: 14pt;
        color: rgba(42, 42, 42, 0.7);
        margin: 5px 0 0 20px; }
  .Equipment .lastItem {
    margin-bottom: 0; }
  .Equipment .conditions {
    margin: 0 0px 0 0px; }
    .Equipment .conditions h2 {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 700;
      color: rgba(42, 42, 42, 0.85);
      font-size: 16px;
      margin: 20px 0 0 30px; }
    .Equipment .conditions p {
      font-size: 14px;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 400;
      color: rgba(42, 42, 42, 0.7);
      margin: 0px 20px 0 40px; }
    .Equipment .conditions .first {
      margin-top: 20px; }
  .Equipment .last {
    margin-bottom: 100px; } }

.slides .slide_1 {
  background: url("/images/slide-1.jpg") no-repeat center center;
  background-size: cover;
  height: 500px;
  outline: transparent; }

.slides .slide_2 {
  background: url("/images/slide-2.jpg") no-repeat center center;
  background-size: cover;
  height: 500px;
  outline: transparent; }

.slides .slide_3 {
  background: url("/images/slide-3.jpg") no-repeat center center;
  background-size: cover;
  height: 500px;
  outline: transparent; }

.slides .slick-slide div h1 {
  opacity: 0;
  font-size: 44px;
  font-family: "Noto Serif", serif;
  color: white;
  font-weight: 700;
  font-style: italic;
  margin-top: 140px;
  margin-bottom: 0;
  text-shadow: black 3px 3px 3px; }

.slides .slick-slide div h2 {
  opacity: 0;
  font-size: 30px;
  font-family: "Noto Serif", serif;
  color: white;
  font-weight: 400;
  margin-top: 0px;
  text-shadow: black 3px 3px 3px; }

.slides .slick-slide div a {
  opacity: 0;
  font-family: "Noto Serif", serif;
  font-style: italic;
  border-radius: 4px;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 10px;
  display: inline-block;
  font-size: 18px;
  background-color: white;
  color: #183a91; }
  .slides .slick-slide div a:hover {
    background-color: #edf1f4; }

.slides .slick-active div h1, .slides .slick-active div h2, .slides .slick-active div a {
  transition: opacity 1.5s ease-in-out 1s;
  opacity: 1; }

.slides .slick-dots {
  bottom: 20px; }
  .slides .slick-dots li button:before {
    font-size: 14px;
    color: white; }
  .slides .slick-dots .slick-active button:before {
    color: white;
    opacity: 1; }

.slides .slick-prev {
  left: 30px;
  color: white;
  z-index: 1;
  font-size: 40px; }
  .slides .slick-prev:hover {
    color: white;
    opacity: 0.75; }

.slides .slick-next {
  right: 35px;
  color: white;
  z-index: 1;
  font-size: 40px; }
  .slides .slick-next:hover {
    color: white;
    opacity: 0.75; }

.slides .slick-prev:before, .slides .slick-next:before {
  display: none; }

@media (max-width: 760px) {
  .slides .slick-slide div h1 {
    font-size: 34px;
    margin-top: 110px; }
  .slides .slick-slide div h2 {
    font-size: 24px; }
  .slides .slick-slide div a {
    padding: 10px 20px;
    font-size: 14px; } }

.slidesSmall {
  width: 400px;
  height: 300px;
  margin: 0 auto; }
  .slidesSmall .slide_1 {
    outline: transparent; }
    .slidesSmall .slide_1 img {
      width: 400px;
      height: 300px; }
  .slidesSmall .slick-dots {
    bottom: 15px; }
    .slidesSmall .slick-dots li button:before {
      font-size: 16px;
      color: black; }
    .slidesSmall .slick-dots .slick-active button:before {
      color: black;
      opacity: 1; }

@media (max-width: 720px) {
  .slidesSmall {
    width: 300px;
    height: 200px;
    margin: 0 auto; }
    .slidesSmall .slide_1 {
      outline: transparent; }
      .slidesSmall .slide_1 img {
        width: 300px;
        height: 200px; }
    .slidesSmall .slick-dots {
      bottom: 15px; }
      .slidesSmall .slick-dots li button:before {
        font-size: 14px;
        color: black; }
      .slidesSmall .slick-dots .slick-active button:before {
        color: black;
        opacity: 1; } }

.slidesSmallVer {
  width: 300px;
  height: 400px;
  margin: 0 auto; }
  .slidesSmallVer .slide_1 {
    outline: transparent; }
    .slidesSmallVer .slide_1 img {
      height: 400px;
      width: 300px; }
  .slidesSmallVer .slick-dots {
    bottom: 15px; }
    .slidesSmallVer .slick-dots li button:before {
      font-size: 16px;
      color: black; }
    .slidesSmallVer .slick-dots .slick-active button:before {
      color: black;
      opacity: 1; }

@media (max-width: 720px) {
  .slidesSmallVer {
    width: 200px;
    height: 300px;
    margin: 0 auto; }
    .slidesSmallVer .slide_1 {
      outline: transparent; }
      .slidesSmallVer .slide_1 img {
        width: 200px;
        height: 300px; }
    .slidesSmallVer .slick-dots {
      bottom: 15px; }
      .slidesSmallVer .slick-dots li button:before {
        font-size: 14px;
        color: black; }
      .slidesSmallVer .slick-dots .slick-active button:before {
        color: black;
        opacity: 1; } }

.reviews {
  background-color: #d7dae3;
  padding: 0 5px; }
  .reviews .review-title {
    margin: 0;
    padding: 30px 0 5px 0;
    font-family: "Noto Serif", serif;
    font-size: 28px;
    font-weight: 400;
    color: #2a2a2a;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    display: inline-block; }
  .reviews p {
    margin: 30px auto 20px auto;
    max-width: 600px;
    font-style: italic;
    color: rgba(42, 42, 42, 0.7);
    font-family: "Roboto", sans-serif; }
  .reviews .fas {
    color: rgba(255, 221, 0, 0.75);
    font-size: 22px;
    margin: 0 2px 0 2px; }
  .reviews h2 {
    font-family: "Noto Serif", serif;
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0 0 0;
    color: rgba(42, 42, 42, 0.7);
    font-style: italic; }
    .reviews h2 a {
      text-decoration: none;
      color: #183a91; }
  .reviews .review {
    outline: transparent;
    height: 250px; }
  .reviews .slick-dots {
    bottom: 30px; }
    .reviews .slick-dots .slick-active button:before {
      color: #183a91; }
    .reviews .slick-dots button:before {
      font-size: 14px;
      color: #183a91; }

@media (max-width: 760px) {
  .reviews {
    padding: 0 5px; }
    .reviews .review-title {
      padding: 30px 0 5px 0;
      font-size: 24px; }
    .reviews p {
      font-size: 16px;
      margin: 30px auto 20px auto; }
    .reviews .fas {
      font-size: 18px; }
    .reviews h2 {
      font-size: 16px; }
    .reviews .review {
      height: 230px; } }

.Options {
  display: flex;
  min-height: 280px; }
  .Options .option {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%/3);
    height: 280px;
    background-color: #fefefe;
    position: relative; }
    .Options .option:hover div {
      transition: height 0.8s ease-in-out;
      height: 100%; }
    .Options .option div {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fbfbfb;
      position: absolute;
      width: 100%;
      height: 0;
      overflow: hidden;
      left: 0;
      top: 0;
      transition: height 1s ease-in-out; }
      .Options .option div h2 {
        font-family: "Noto Serif", serif;
        font-size: 28px;
        font-style: italic;
        color: #2a2a2a; }

@media (max-width: 500px) {
  .Options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px; }
    .Options .option {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      height: 200px;
      background-color: #fefefe;
      position: relative; }
      .Options .option:hover div {
        height: auto; }
      .Options .option div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        position: absolute;
        width: 100%;
        height: auto;
        overflow: hidden;
        left: 0;
        top: 155px;
        transition: height 1s ease-in-out; }
        .Options .option div h2 {
          font-family: "Noto Serif", serif;
          font-size: 28px;
          font-style: italic;
          color: #2a2a2a;
          margin: 0; } }

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: black; }
