.slides{
    .slide_1{
        background: url('/images/slide-1.jpg') no-repeat center center;
        background-size: cover;
        height: 500px;
        outline: transparent;
    }
    .slide_2{
        background: url('/images/slide-2.jpg') no-repeat center center;
        background-size: cover;
        height: 500px;
        outline: transparent;
    }
    .slide_3{
        background: url('/images/slide-3.jpg') no-repeat center center;
        background-size: cover;
        height: 500px;
        outline: transparent;
    }
    .slick-slide{
        div{
            h1{
                opacity: 0;
                font-size: 44px;
                font-family: $fontNoto;
                color: white;
                font-weight: 700;
                font-style: italic;
                margin-top: 140px;
                margin-bottom: 0;
                text-shadow: black 3px 3px 3px;
            }
            h2{
                opacity: 0;
                font-size: 30px;
                font-family: $fontNoto;
                color: white;
                font-weight: 400;
                margin-top: 0px;
                text-shadow: black 3px 3px 3px;
            }
            a{
                opacity: 0;
                font-family: $fontNoto;
                font-style: italic;
                border-radius: 4px;
                text-decoration: none;
                padding: 10px 20px;
                margin-top: 10px;
                display: inline-block;
                font-size: 18px;
                background-color: white;
                color: rgb(24,58,145);
                &:hover{
                    background-color: #edf1f4;
                }

            }
        }
    }
    .slick-active{
        div{
            h1, h2, a{
                transition: opacity 1.5s ease-in-out 1s;
                opacity: 1;
            }
        }   
    }
    .slick-dots{
        bottom: 20px;
        li button:before{
            font-size: 14px;
            color: white;
        }
        .slick-active button:before{
            color: white;
            opacity: 1;
        }
    }
    .slick-prev{
        left: 30px;
        color: white;
        z-index: 1;
        font-size: 40px;
        &:hover{
            color:white;
            opacity: 0.75;
        }
    }
    .slick-next{
        right: 35px;
        color: white;
        z-index: 1;
        font-size: 40px;
        &:hover{
            color:white;
            opacity: 0.75;
        }
    }
    .slick-prev:before, .slick-next:before{
        display: none;
    }
            
}

@media (max-width: 760px){
    .slides{
        .slick-slide{
            div{
                h1{
                    font-size: 34px;
                    margin-top: 110px;
                }
                h2{
                    font-size: 24px;
                }
                a{
                    padding: 10px 20px;
                    font-size: 14px;
                }
            }
        }
    }
}